@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');

/*========================
   Content

*. General
*. Login & Signup
*. Buy-Bitcoin
*. Qucik-Buy-Sell
*. Post Trade
*. Dashboard
*. Profile-detail
*. Wallet
*. Login-histroy
*. Raise support
*. Media Query






========================*/


/*========================
    General css
========================*/


/* body,html{
    width: 100%;
    height: 100%;
} */

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
}

.pagination li a,
.pagination li.disabled a,
div.dataTables_wrapper div.dataTables_info {
    font-size: 14px !important;
    outline: none !important;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    opacity: 1 !important;
}

table tr,
table td,
table th,
td,
th {
    font-size: 14px !important;
}

nav {
    background: transparent;
    box-shadow: none;
    padding: 0 1em;
}

nav ul a:hover {
    background: transparent;
    opacity: .9;
}

nav .dropdown-content {
    margin-top: 3em;
    width: auto !important;
}

.btn-theme,
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active {
    background: #222b3c;
    height: 45px;
    text-transform: capitalize;
    border-radius: 3px;
    line-height: 45px;
}

.btn-outline,
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    border: 2px solid #222b3c;
    background: transparent;
    color: #333;
    width: 100%;
    height: 45px;
    line-height: 40px;
    text-transform: capitalize;
}

.table td,
.table th {
    padding: .75rem !important;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
    border-radius: 0;
}

.pagination li.active {
    background-color: #232b3a;
}

.bg-grey {
    background-color: #f9f9f9;
}

p.caption {
    font-size: 20px !important;
    line-height: 30px !important;
    margin: 0 !important;
    font-weight: 700;
}

.tooltip-caption {
    margin: 0 0 1em;
}

.tooltip-caption i {
    font-size: 18px;
    cursor: pointer;
}

.material-tooltip {
    max-width: 500px;
    width: 500px !important;
    font-size: 13px;
    line-height: 23px;
    text-align: left;
}

.gradient-bg {
    background: linear-gradient( to right, #92FE9D, #00C9FF);
}

[type="checkbox"].filled-in:checked+label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #96edb1;
    background-color: #96edb1;
    z-index: 0;
}

.check-otr {
    margin-bottom: 1.5em;
}

.pl0 {
    padding-left: 0 !important;
}

.pr0 {
    padding-right: 0 !important;
}
.mt10{
    margin-top: 10px;
}
.mt15{
    margin-top: 15px;
}
.mt20{
    margin-top: 20px;
}
.fs15{
    font-size: 15px;
}
.left0 {
    left: 0 !important;
}

.mb2em {
    margin-bottom: 2em;
}

.accountsteptwo {
    display: none;
}

#back {
    cursor: pointer;
    text-decoration: underline;
}

.recaptcha-otr div {
    margin: auto !important;
}

.help-block {
    color: #dc2222;
    text-transform: capitalize;
    font-size: 13px;
}


/* .tabs .tab a:hover, .tabs .tab a.active{
    color: #71cff0;
}
.tabs .indicator{
    background-color: #71cff0;
} */


/*========================
    Login & Signup
========================*/

.login-bg {
    background-image: url(../images/BG_main3.png);
    /* background-image: url(../images/login-bg.png); */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.login-bg .login-box {
    position: relative;
    /* background: #262E46; */
    background: #222222;
    margin: 3em 0;
    padding-bottom: 2em;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.login-bg .login-box .login-box-bg {
    background-image: url(../images/login-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: -webkit-fill-available;
}

.login-bg .login-box-inner {
    padding: 1em;
    color: #eee;
}

.login-bg .input-field label {
    color: #eee;
}

.login-bg .input-field input {
    border-bottom: 1px solid #eee;
    box-shadow: none !important;
}

.login-bg .btn {
    width: 100%;
    height: 50px;
    background: linear-gradient( to right, #D95E31, #222222);
    /* background: linear-gradient( to right, #92FE9D, #00C9FF); */
    border-radius: 3px;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #96edb1;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #96edb1;
    -webkit-box-shadow: 0 1px 0 0 #96edb1;
    box-shadow: 0 1px 0 0 #99eeaf;
}

.login-bg .helper-text {
    margin-top: 13em;
}

.login-bg .helper-text p {
    margin: 0 0 25px;
    letter-spacing: .5px;
}


/*========================
    Buy-Bitcoin
========================*/

.hero {
    /* background-image: url(../images/hero.png); */
    background-image: url(../images/path.png);
    min-height: 500px;
    background-repeat: no-repeat;
}

.hero-content {
    padding: 3em 0;
}

.hero-content h3+p {
    max-width: 700px;
    margin: 2em auto;
    color: #f7f7f7;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: .1px;
}

.table-main {
    margin: 2em 2em 1em;
}

.table-main .card {
    padding: 2em;
    margin-bottom: 2em;
}

.table-main .card p.caption {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    font-weight: 700;
}


/*========================
   Qucik-Buy-Sell
========================*/

.qucik-buy-sell {
    margin: 3em 2em;
}

.qucik-buy-sell .tabs {
    margin: 2em 0;
    background: transparent;
}


/*========================
   Post Trade
========================*/

.trade-rules {
    margin: 4em 3em;
}

.trade-rules .card {
    padding: 2em;
}

.trade-rules .card p.caption {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
}

.trade-rules .card ul li {
    font-size: 14px;
    line-height: 25px;
    margin: 5px 0;
}

.trade-rules .card ul {
    padding-left: 20px;
}

.trade-forms .card-otr {
    border: 1px dashed #333;
    margin: 4em 3em;
    border-radius: 4px;
    padding: 2em;
}

.trade-forms .card-otr .card {
    box-shadow: none;
    background: transparent;
    margin-bottom: 0;
}

.trade-forms .card-otr .panel {
    position: relative;
    margin: .5rem 0 2rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.trade-forms .card-otr .panel-heading {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.trade-forms .card-otr .panel-body {
    padding: 1.5em;
}

.trade-forms .input-otr {
    margin-bottom: 1.5em;
}


/*========================
   Dashboard
========================*/

.dashboard-cards {
    margin: 3em 2em;
}

.dashboard-cards .card {
    padding: 2em;
}

.dashboard-cards .card .card-content {
    padding: 0 0 0 30px;
}

.dashboard-cards .card .card-content h5 {
    margin: 0 0 10px 0;
}

.dashboard-cards i {
    position: absolute;
    left: 12px;
    right: 0;
}


/*========================
    Profile Detail
========================*/

.profile-detail {
    margin: 3em;
}

.profile-detail .caption-border {
    position: relative;
    margin-top: 2em;
}

.profile-detail .caption-border span {
    display: inline-block;
    background: #f9f9f9;
    z-index: 3;
    color: #5aeac3;
    padding: 0 10px 0 0;
    letter-spacing: .5px;
}

.profile-detail .caption-border:after {
    content: '';
    width: 100%;
    border-bottom: solid 1px #5aeac3;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
}

.profile-detail .edit-profile {
    padding: 0 1em;
}

.user-verification-info {
    padding: 1em;
}

.user-verification-info ul {
    margin-left: 20px;
    font-size: 14px;
}

.user-verification-info p {
    line-height: 24px;
    font-size: 14px;
}

.user-verification-info ul li {
    list-style-type: disc;
    padding: 0 0 3px;
}

.profile-detail .account-container .card {
    padding: 1.5em;
    border-radius: 4px;
    margin: 1.5em 0 0;
}

.profile-detail hr {
    border: .5px solid #eee;
}

.profile-detail .success-icon {
    font-size: 17px;
    position: relative;
    top: 3px;
}

.profile-detail .account-container {
    max-width: 90%;
    width: 90%;
}

.profile-detail .account-container p.flow-text {
    margin: 0;
}

.profile-detail .account-container .bottom-text {
    display: inline-block;
    width: 100%;
    margin: 0;
    font-size: 13px;
}

.profile-detail .account-container .bottom-text .red-text i {
    font-size: 12px;
    position: relative;
    top: 2px;
    font-weight: 700;
}

.profile-detail .border-box {
    border: 2px solid #333;
}

.card .seller-box {
    font-weight: 800;
    font-size: 16px;
    margin: 0;
}

.card-header {
    border-bottom: 1px dashed #333;
    padding-bottom: 1em;
}

.card-header i {
    position: relative;
    top: 4px;
    color: #7af6ad;
}

.fs17 {
    font-size: 17px;
    position: relative;
    top: 3px;
}


/* .verify-btn-otr {
    margin: 1em 0;
} */


/*========================
   Wallet
========================*/

.wallet-card {
    padding: 2em;
    text-align: left;
}

.wallet-card .collapsible {
    box-shadow: none;
    border: none;
    margin-bottom: 0;
}

.wallet-card .collapsible-header {
    color: #ee6e73;
    border-bottom: 1px dashed #333;
    padding-left: 0;
}

.wallet-card .collapsible-body {
    border-bottom: none;
}

.wallet-card .content-copy {
    font-size: 16px;
    position: relative;
    top: 2px;
    left: 3px;
    cursor: pointer;
}


/* ======================
    Login-histroy
========================*/

.login-history {
    margin: 3em;
}

.login-history .card {
    padding: 2em;
}


/* ======================
    Two-Factor-Authentication
========================*/

.two-factor-authentication {
    margin: 3em;
}

.two-factor-authentication .card {
    padding: 2em;
}

.two-factor-authentication-img {
    margin: 2em 0;
}


/* ======================
    Raise support
========================*/

.raisesupport {
    margin: 3em;
}

.raisesupport .card {
    padding: 2em;
}

.raisesupport .card .collapsible {
    box-shadow: none;
    border: none;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: .2px;
}

.raisesupport .card .collapsible .collapsible-header {
    color: #2196F3;
    border-bottom: 1px dashed #999;
}

.raisesupport .card .collapsible .collapsible-body {
    padding-left: 15px;
}

.raisesupport .card .collapsible .collapsible-body p {
    margin: 0 0 15px;
}

.raisesupport .supportcard-two {
    display: none;
}

.raisesupport .supportcard-two .caption span {
    font-size: 14px;
    text-decoration: underline;
}

.raisesupport .navigate {
    cursor: pointer;
}

/* ======================
    Trade-Detail
========================*/
.trade-detail{
    padding: 2em 2em 0;
}
.trade-detail .card{
    padding: 1em;
}
.trade-detail .trade-detail-box-left,
.trade-detail .trade-detail-box-right{
    position: relative;
}
.trade-detail .trade-detail-box-right .card{
    padding: 0;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.trade-detail .trade-detail-box-right .card p{
    padding: 0 1em;
}
.trade-detail .trade-detail-box-left .row{
    margin-bottom: 0;
}
.trade-detail .trade-detail-box-right .faq-otr{
    margin:1em 0;
}
.trade-detail .trade-detail-box-right .btn-otr{
    margin: 0em 1em 2em;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.trade-detail .trade-detail-box-right p.card-caption{
    position: absolute;
    width: 100%;
    top: 4em;
    text-align: center;
    padding: 0;
}
.trade-detail .trade-detail-box-right .tdbr-inner{
    padding: 1em;
}
.icon_style {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.preloader-wrapper.small {
    width: 25px;
    height: 25px;
}
.addon-inner{
    /* background: #6ef1b5a1; */
    /* background: #f1f1f1; */
    padding: 1em;
    border-radius: 6px;
    display: flex;
    align-items: center;
    /* background:  rgba(0,0,0,0.1); */
    background:#ececec;
}
.addon-inner input{
    border: none !important;
    margin-bottom: 0 !important;
    border-radius: 3px !important;
    padding: 0 4px !important;
    background: #fff !important;
    height: 30px !important;
}
.addon-inner input:focus{
    box-shadow: none !important;
}
.addon-inner .input-field{
    width: 100%;
    margin-top: 0;
}
.addon-inner textarea{
    border: none;
    border-radius: 4px;
    background: #fff;
}
.custom-ruler{
    border: .5px solid #eee;
}
.addon-inner span{
    padding: 0px 9px 0 0;
}
.aip-margin{
    margin: 0 0 10px 0;
}
.faq-otr .collapsible-header p{
    width: 100%;
    margin: 0;
}
.faq-otr .collapsible-header i{
    transition: all ease 0.5s;
    margin: 0;
    float: right;
}
.faq-otr .collapsible-header.active i{
    transform: rotate(180deg);
}
.faq-otr .collapsible-body {
    display: block;
    font-size: 14px;
    line-height: 27px;
    color: #6f6969;
    padding: 20px;
}
.hrs-listing li{
    padding: 8px 0;
    border-bottom: 1px solid #f1f1f1;
    color: #656464;
}
.fs21
{
    font-size: 21px;
    position: relative;
    top: 4px;
}
.default-styling{
    padding: 1em 0 !important;
    border-radius: 0 !important;
}
.well{
    background: #f1f1f1;
    margin:0 1em;
    padding: 10px 0;
    border-radius: 3px;
}
.custom-faq{
    box-shadow: none;
    margin: 0 1em 0;
}
.m0{
    margin: 0;
}
.pad10{
    padding: 10px;
}
.mb15{
    margin-bottom: 15px;
}
.fs15{
    font-size: 15px;
}
.mlr10{
    margin: 0 1em;
}
.mt15{
    margin-top: 15px;
}
.width-auto{
    width: auto !important;
}
.list-style{
    padding-left: 30px !important;
}
.list-style li{
    padding: 0 0 10px;
    list-style-type: disc !important;
}
.responsive-table.bordered td, .responsive-table.bordered th{
    border: 1px solid #ddd;
}
input[type=file]{
    font-size: 13px;
}
.footer-inner{
    padding: 0 2em;
}
.footer-inner .row{
    margin-bottom: 0;
}
.page-footer{
    background: #222222;
    padding: 3em 0;
    margin-top: 3em;
}
.footer-caption{
    font-size: 18px;
    line-height: 28px;
    font-weight: 800;
}
.footer-caption + ul li{
    font-size: 13px;
    line-height: 23px;
    color:#eee;
}
.social-media li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 10px 0 0;
}
.fs13{
    font-size: 13px;
    line-height: 23px;
}
.top-align{
    position: relative;
    top:3px;
}
.lh0{
    line-height: 0 !important;
}
.ml36{
    margin-left: 36px;
}
.mtb3em{
    margin : 3em 0;
}
.pd25{
    padding: 25px;
}
.about-container p{
    line-height: 28px;
}

.faq-svg-otr:hover svg{
    position: relative;
    top: 10px;
}
.w90p{
    width: 90%;
}
.zero-shadow{
    box-shadow: none;
    padding: 0;
}
.dropdown-button{
    position: relative;
}
.notification-badge
{
    position: absolute;
    top: -20px;
    right: 5px;
    margin: 0 -.8em;
    padding: 2px 5px;
    color: #fff;
    border-radius: 50%;
    background-color: #ff4081;
    box-shadow: 0 0 10px 0 #ff4081;
    font-size: 13px;
    font-weight: 800;
}
.header-notify-otr .message-count{
    width: 20px;
    height: 20px;
    line-height: 11px;
    background: #FF5722;
    padding: 5px;
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    top: 9px;
    right: 3px;
    text-align: center;
}
}
/*========================
   Media Query
========================*/

@media (max-width: 600px) {
    table.responsive-table tr{
        padding: 0;
    }
    .login-bg .helper-text {
        margin-top: 0;
    }
    .row {
        margin-bottom: 0;
    }
    table.dataTable thead>tr>th {
        text-align: left;
    }
    .hero-content h3+p {
        color: #f7f7f7;
        font-size: 13px;
        line-height: 23px;
    }
    .hero-content h3 {
        font-size: 35px;
        line-height: 45px;
    }
    .hero-content {
        padding: 4em 0 2em;
    }
    .trade-forms .card-otr {
        margin: 1em;
        padding: 1em;
    }
    .trade-rules {
        margin: 3em 1em;
    }
    .pl0,
    .pr0 {
        padding-right: initial !important;
        padding-left: initial !important;
    }
    .two-factor-authentication,
    .login-history,
    .raisesupport {
        margin: 1em;
    }

    .trade-detail {
        padding: 1em;
    }
    .trade-detail .trade-detail-box-right p.card-caption{
        top: 2.5em;
    }
    #user-detail{
        padding: 0em;
    }
    .table-main {
        margin: 0 1em 1em;
    }
    .trade-detail .trade-detail-box-right .btn-otr{
        margin: 0em 0em 2em;
    }
    .profile-detail .account-container {
        max-width: 100%;
        width: 100%;
    }
    .about-story-img{
        width: 100%;
    }
    .raisesupport .card{
        padding: 0;
        box-shadow: none;
    }
}

